<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>oc-AFN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1878A20A1E83A4FC002DB677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1878A2231E83A4FD002DB677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1878A22E1E83A4FD002DB677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
